<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Test worked


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>


<script>
    var token = "{{csrf_token}}";
    var conf = {
        type: "POST",
        url: "bad",
        data: {title: "Title Here"},
        headers: {
            "X-CSRFToken": token
        }
    }

    function badSubmit() {
        $.ajax(conf);
    };
</script>
</body>
</html>